.action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 25px;
  z-index: 12;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.launched {
  gap: 3vw;
}

.actionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #FBCA04;
  color: #000;
  border-radius: 30px;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  gap: 2vw;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

/* .actionBtn:first-of-type {
  color: rgba(201, 255, 93, 1);
}

.actionBtn:last-of-type {
  color: rgba(255, 201, 241, 1);
} */

.LaptopContainer {
  position: inherit;
  gap: 14px;
}

.LaptopActionButton {
  gap: 7px;
  width: 161px;
  color: #000 !important;
}

.LaptopBuyButton {
  background-color: #c9ff5d;
}

.LaptopSellButton {
  background-color: #ffc9f1;
}

.share {
  cursor: pointer;
}

.avatar {
  width: 85px;
  height: 85px;
  border: 4px solid #fff;
  border-radius: 85px;
  margin: -40px auto 0;
  overflow: hidden;
  .avatarImg {
    width: 100%;
    border-radius: 85px;
    object-fit: cover;
    object-position: center;
  }
}
.nameContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  .name {
    font-weight: 700;
  }
}
