.Container {
  width: 60px;
  height: 18px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Unbounded;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2px;
}
