.Container {
  height: 100%;
}
.thumbnail {
  position: relative;
  z-index: 10;
  height: calc(100vh - 232px);
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #000;
}

.loadMore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    181.52deg,
    rgba(0, 0, 0, 0) 1.29%,
    #000000 98.71%
  );
  .loadBox {
    flex: 1;
    height: 30px;
    border: 1px solid rgba(147, 121, 166, 1);
    border-radius: 8px;
    color: rgba(240, 221, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
