.Container {
  position: relative;
  height: 52px;
  flex-shrink: 0;
  padding: 10px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  border-radius: 12px;
  background: rgba(60, 60, 60, 0.5);
  backdrop-filter: blur(5px);
  margin-left: 12px;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Unbounded;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

.McWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Mc {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.McBox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.Progress {
  width: 199px;
  height: 6px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 6px;
}

.ProgressInner {
  height: 6px;
  border-radius: 32px;
  background: #c9ff5d;
  position: absolute;
  left: 0px;
  top: 0px;
}
