.ListContainer {
  background-color:rgba(255, 255, 255, 0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 10px;
}

.ListContainerPc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 10px;
}

.ItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #292929;
  overflow: hidden;
}
.ItemBoxContent {
    height: 131px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PersonalTradeInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PersonalInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Name {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
}

.Avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.CopyAmount {
    composes: PersonalTradeInfoBox;
    gap: 4px;
}
.CopyAmountText {
    composes: PersonalTradeInfoBox;
}
.CopyAmountTextUseAmount {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    /* text-decoration: line-through; */
}
.CopyAmountTextTotal {
    font-size: 12px;
    color: #9290B1;
    font-weight: 300;
}

.CopyInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Tooltip {
    background-color: #252328;
    color: #9290B1;
    padding:18px 14px;
    border-radius: 12px;
    font-size: 14px;
    white-space: nowrap;
    min-width: 208px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-height: 230px;
    overflow-y: auto;
}

.TooltipItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TooltipItem img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
}
.TooltipItemIcon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.TooltipItemValue {
    color: #fff;
    gap: 4px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.TradeInfoBox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 16px;
}

.TokenIconBox {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: flex-end;    
}

.TokenIconBox img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -8px;
}

.TitlePubStyle {
    font-size: 12px;
    color: #9290B1;
    font-weight: 300;
    margin-bottom: 6px;
}

.PNLValuePercent {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 3px;
}

.PNLValueUSD {
    font-size: 12px;
    color: #C9FF5D;
    font-weight: 300;
}

.MoreTokens {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #202325;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color:#9290B1;
    margin-left: -8px;
}

.ActionButtonBox {
    display: flex;
    justify-content: flex-end;
    height: 49px;
    align-items: center;
    padding: 0 13px;
}

.ActionButton {
    background-color: transparent;
    color: #fff;
    padding: 9px 19px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #FBCA04;
    font-family: Unbounded;
}

.ActionButton:disabled {
    opacity: 0.1;
    cursor: not-allowed;
}   

.ActionButton:disabled:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #FBCA04;
    cursor: not-allowed;
}