.avatar {
  width: 88px;
  height: 88px;
  border: 4px solid #121719;
  border-radius: 100px;
  position: relative;
}
.avatarImg {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}
.pencil {
  position: absolute;
  bottom: 0;
  right: 0;
}
.userName {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  .vipImg {
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-35%);
  }
}

.isOther {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 110px;
}

.FollowBtnBox {
}
