.Container {
  height: calc(100vh - 187px);
  width: 100%;
  position: relative;
  background-color: #d8226f;
  border-radius: 28px;
}

.Flip {
  position: absolute;
  width: 492px;
  height: 160px;
  background: url(/img/laptop/flip-1.png) no-repeat;
  bottom: -7px;
  left: 0px;
  z-index: 1;
}

.Wrapper {
  height: calc(100% - 98px);
  position: relative;
  z-index: 2;
}

.Content {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  padding-left: 24px;
  height: 100%;
}

.PanelWrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 360px);
  --part-bg: #55fff4;
  padding-right: 6px;
  border-radius: 10px;
}

.EmptyWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
