.Pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  margin-top: auto;
}

.PaginationContent {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}
.PaginationItem {
  width: 20px;
  height: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.PaginationItem:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
