.panel {
  border-radius: 10px;
  padding: 15px 24px;
  margin-right: 10px;
}

.Light {
  background-color: transparent;
  margin-left: 0px;
}

.Dark {
  background-color: #252328;
  margin-left: 10px;
}
