.linkBox {
  /* background-color: #fff; */
  padding: 0 0 10px;
}

.linkEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  background-color: #21252E;
  padding-left: 20px; 
}

.LinkEditPc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(146, 144, 177, 0.4);
  background: rgba(146, 144, 177, 0.1);
  height: 48px;
  padding: 0px 12px;
  gap: 8px;
}

.linkInput {
  height: 100%;
  border: none;
  flex: 1;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.linkContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  padding: 0 20px;
}

.linkTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  .linkImg {
    width: 15px;
  }
}

.linkTitleText {
  color: #fff;
}

.linkTitleDesc {
  font-size: 12px;
  color: #9290B1;
  align-self: flex-end;
}

.linkAction {
  font-size: 16px;
  background: linear-gradient(90deg, #ff2bae 0.01%, #aa2bff 54.08%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #ff2bae;
}


.linkBoxPc {
  .linkTitle {
    font-weight: 700;
  }
}