.Container {
  padding: 0px 14px;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.Label {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Value {
  color: #fff;
  text-align: right;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
