.TokenExtContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  border-radius: 18px;
  padding: 3px;
  background: linear-gradient(to bottom, #C201FF, #3B6FFC, #48CFCD);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background-clip: border-box;
  pointer-events: none;
}

.TokenExtContainer.Mobile {
  padding: 0 3px;
  border-radius: 0;
  background: linear-gradient(to bottom, rgba(194, 1, 255, 0.5), rgba(59, 111, 252, 1), rgba(72, 207, 205, 0.2));
}

.ImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 38px;
  width: 140px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: absolute;
  left: 276px;
  top: 10px;
  pointer-events: none;
  z-index: 10;
}

.ImgContainer.MobileImgContainer {
  left: auto;
  right: 10px;
  top: 80px;
}

.ImgText {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.PlatformImg {
  width: 20px;
}
