.Container {
  width: 450px;
  flex-shrink: 0;
  max-width: 90vw;
  background-color: #fff3f8;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.09);
  position: absolute;
  right: 0px;
  z-index: 100;
}

.Content {
  padding: 0px 10px 20px 0px;
}

.Bottom {
  border-top: 1px solid #efe3f1;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  background-color: #fff3f8;
  border-radius: 0px 0px 20px 20px;
}

.ViewAll {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ff2681;
}
