.Mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(5px); */
}

.Panel {
  /* width: 359px; */
  /* border-radius: 20px; */
  /* background: #fff3f8; */
  position: relative;
  /* padding: 24px; */
}

.Button {
  border-radius: 9px;
  background: #C9FF5D;
  padding: 7px 12px;
  color: #000;
  text-align: right;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 11px;
}

.Operation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.OperationNo {
  color: #fff;
  font-size: 11px;
  font-family: Unbounded;
  cursor: pointer;
}

.Text {
  color: #202020;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}

.IconWrapper {
  background-color: #00000066;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #ff008a80;
}

.IconInner {
  border: 2px solid #ff008a;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonWrapper {
  border-radius: 10px;
  border: 1px solid #FBCA04;
  position: absolute;
  box-sizing: border-box;
}

.ButtonInner {
  border: 2px solid #ff008a;
  border-radius: 40px;
  margin: 4px;
  box-sizing: border-box;
}
