.Badge {
  height: 26px;
  border-radius: 13px;
  background: #c9ff5d;
  padding: 0 8px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #000;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*#region Top first*/
.Top {
  position: relative;
  margin-top: 106px;
}
.TopAvatar {
  width: 210px;
  height: 210px;
  margin: 0 auto;
  position: relative;
}

.TopAvatarBg {
  position: absolute;
  z-index: 1;
  top: -50%;
  left: -50%;
  pointer-events: none;
}

.TopAvatarContent {
  width: 100%;
  height: 100%;
  background: url("/512x512.png") no-repeat center / cover;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  cursor: pointer;
}

.PcCarouselWrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}

.TopSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 8px;
}
.TopSummaryLike {
  background: #fff2f8 !important;
  color: #ff3499 !important;
}
.TopCrown {
  width: 60px;
  flex-shrink: 0;
  position: absolute;
  z-index: 2;
  top: -30px;
  left: -24px;
  transform: rotate(-60deg);
}
.TopInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-top: 10px;
  font-family: Unbounded;
}
.TopName {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.TopTicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.TopTickerLabel {
  color: #9290b1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.TopTickerAvatar {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  background-color: #383838;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 11px;
}
.TopTickerName {
  margin-left: 2px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.TopBadges {
  margin-top: 10px;
  padding: 0 10px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}
.TopBadgesInner {
  display: flex;
  align-items: center;
  gap: 8px;
}
.TopBadge {
  height: 31px;
  border-radius: 30px;
  padding: 0 11px;
  background: rgba(60, 60, 60, 0.4);
  backdrop-filter: blur(5px);
  color: #d9d9d9;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.TopBadgeClickable {
  cursor: pointer;
}
.TopMarketCap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: Unbounded;
  margin-top: 7px;
}
.TopMarketCapLabel {
  color: #6fff00;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.TopMarketCapValue {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.TopBuy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.TopBuyBtn {
  width: 174px;
  height: 69px;
  flex-shrink: 0;
  background: url("/img/trends/buy-btn.svg") no-repeat center / contain;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.TopBuyBtnIcon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
/*#endregion*/

/*#region Laptop Top first*/
.LaptopTop {
  font-family: Unbounded;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 31px;
  margin-top: 40px;
}
.LaptopTopAvatarContainer {
  flex-shrink: 0;
}
.LaptopTopAvatar {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.LaptopTopContent {
  flex: 1;
  width: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.LaptopTopAvatarCrown {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 88px;
  height: 65px;
  flex-shrink: 0;
}
.LaptopTopContentInfo {
}
.LaptopTopName {
  color: #fff;
  text-align: left;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.LaptopTopTicker {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 3px;
}
.LaptopTopTickerItem {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}
.LaptopTopTickerLabel {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.LaptopTopTickerValue {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 6px;
}
.LaptopTopTickerTime {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.LaptopTopMarketCap {
  margin-top: 16px;
}
.LaptopTopMarketCapValue {
  color: #fbfff4;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  line-height: 1;
}
.LaptopTopMarketCapTrend {
  color: #6fff00;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.LaptopTopMarketCapTrendDown {
  composes: LaptopTopMarketCapTrend;
  color: #ff2f74;
}
.LaptopTopMarketCapLabel {
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3px;
}
.LaptopTopSummaries {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.LaptopTopBadge {
  color: #ff3499;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 26px;
  flex-shrink: 0;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #fff2f8;
  padding: 0 8px 0 7px;
}
.LaptopTopBadgeGreen {
  color: #000;
  background: #c9ff5d;
}
.LaptopTopContentBuy {
}
.LaptopTopContentBuyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 34px 0 28px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 26px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #c9ff5d;
}
.LaptopTopContentBuyBtnIcon {
  width: 28px;
  height: 28px;
}
.LaptopTopTickerAvatar {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 11px;
}
/*#endregion*/
