.InviteCodeFormContainer {
  margin: 0 auto;
  width: 350px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.InviteCodeFormContainerLaptop {
  composes: InviteCodeFormContainer;
  padding-top: 136px;
}
.InviteCodeFormTop {
  width: 100%;
  height: 320px;
  background: url("/img/invite-code/coupon-top.svg") no-repeat bottom / contain;
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.InviteCodeFormBottom {
  margin-top: -1px;
  width: 100%;
  height: 124px;
  background: url("/img/invite-code/coupon-bottom.svg") no-repeat bottom / contain;
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: left top;
}
.InviteCodeFormLogo {
  width: 127.257px;
  height: 46px;
  flex-shrink: 0;
}
.InviteCodeFormTips {
  width: 100%;
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: wrap;
}
.InviteCodeFormLabel {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 27px;
}
.InviteCodeFormControlWrapper {
  width: 279px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 9px;
}
.InviteCodeFormControl {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FCFFEA;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 10px;
}
.InviteCodeFormControlInvalid {
  composes: InviteCodeFormControl;
  color: #FF2681;
}
.InviteCodeFormControl:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.InviteCodeFormButton {
  width: 259px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid #000;
  background: #FBCA04;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background 0.15s;
}
.InviteCodeFormButton:disabled {
  background: #866906;
  cursor: not-allowed;
}
.InviteCodeFormToast {
  color: #FF2681;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.InviteCodeFormToastSuccess {
  composes: InviteCodeFormToast;
  color: #AAFF00;
}
.InviteCodeFormToastTitle {
  font-size: 14px;
  font-weight: 600;
}
.InviteCodeFormToastMsg {
  margin-top: 6px;
}
