.launchPadTab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  height: 50px;
  padding: 0px 10px;
}

.launchPadTabTitle {
  position: relative;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  white-space: nowrap;
}
.launchPadTabTitleActive {
  color: #fff;
}

.Line {
  position: absolute;
  border-radius: 4px;
  width: 50%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
}
