.Container {
  width: 310px;
  max-width: 90vw;
  border-radius: 20px;
  border: 1px solid #000;
  background: #fef6e6;
  padding: 20px;
}

.Desc {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 10px;
  word-spacing: 2px;
}

.Button {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #fbca04;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.Image {
  display: flex;
  justify-content: center;
}
