.Container {
  padding: 32px 16px 0px;
}

.Header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.Name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 50px);
}

.Panels {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.Panel {
  position: relative;
  width: calc(100% - 5px);
  height: 78px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  background: rgba(27, 27, 27, 0.5);
}

.FunLike {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #ffeb9c 0%, #fbca04 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MyLike {
  color: #fff;
  font-family: Unbounded;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.PabelLabel {
  color: #fff;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.PanelBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  font-family: Unbounded;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
}

.Statistics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.StatisticsItem {
  width: 50%;
  position: relative;
  margin-top: 20px;
}

.StatisticsItem:nth-child(2n),
.StatisticsItemPc:not(:nth-child(3n + 1)) {
  padding-left: 20px;
}

.StatisticsItem:nth-child(2n):after,
.StatisticsItemPc:not(:nth-child(3n + 1)):after {
  content: "";
  display: block;
  width: 1px;
  height: 18px;
  opacity: 0.5;
  background: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
}

.StatisticsItemPc {
  width: 33.333333%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.StatisticsLabel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.StatisticsValue {
  color: #fff;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
}

.ClaimBox {
  display: flex;
  align-items: center;
  border: 1px solid #767676;
  border-radius: 10px;
  gap: 15px;
  padding-left: 5px;
  position: relative;
}

.ClaimBoxItemTitle {  
  font-size: 12px;
  font-weight: 400;
  position: relative;
}

.ClaimBoxBtn {
  background-color: #999999;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  width: 42px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ClaimTipBox:hover .ClaimTip {
  display: flex;
}

.ClaimTip {
  position: absolute;
  top: -31px;
  left: 50%;
  height: 24px;
  padding: 0 6px;
  background-color: #000;
  border: 1px solid #3B3B3B;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.ClaimBoxActive {
  .ClaimBox {
    border: 1px solid #C9FF5D;
  }
  .ClaimBoxBtn {
    background-color: #C9FF5D;
    color: #000;
  }
}


