.Panel {
  width: 290px;
  border: 1px solid #3b3b3b;
  background: #252328;
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
}

.Top {
  width: 100%;
}

.Title {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.Desc {
  color: #fff;
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 16px;
  width: 100%;
  padding-top: 60px;
}

.Item {
  height: 48px;
  border-radius: 32px;
  border: 1px solid #3b3b3b;
  background: #252328;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ItemText {
  color: #fff;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Bar1 {
  position: absolute;
  left: -20px;
  bottom: -40px;
}

.Bar2 {
  position: absolute;
  left: -20px;
  bottom: -50px;
  transform: rotate(45deg);
}

.Links {
  position: absolute;
  bottom: 14px;
  width: 100%;
  padding-right: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  z-index: 50;
}
