.main {
  height: 100dvh;
  background-color: #000;
  overflow-y: auto;

  /* background: #fff; */
  padding: 0;
  overflow-y: auto;

  .avatarBox {
    position: relative;
    background: #000 url("/img/profile/bg.svg") left bottom no-repeat;
    background-size: 100% auto;
    height: 216px;
  }
  /* .avatarBox::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    background-color: #000;
  } */

  .avatarContent {
    padding: 46px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 172px;
    height: 100%;
  }
}

.Points {
  position: absolute;
  right: 10px;
  top: 10px;
}

.Tabs {
  overflow-x: auto;
}
.Tabs::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
.TabsCursorClassName {
  height: 2px;
  border-radius: 1px;
  bottom: 0;
  width: 100%;
}
.TabsContentClassName {
  background: rgba(255, 255, 255, 0.08);
  min-height: calc(100dvh - 274px);
}
.SettingButton {
  width: 30px;
  height: 30px;
  background: url("/img/profile/icon-setting.svg") no-repeat center / contain;
}
.ShareButton {
  composes: SettingButton;
  background: url("/img/profile/icon-share.svg") no-repeat center / contain;
}
.ProfileBackButton {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: rgba(13, 16, 18, 0.80);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(-5px);
}
