.main {
  height: 100%;

  .cationArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;

    .tradeTabs {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      background-color: #3b3b3b;
      border-radius: 10px;
      position: relative;

      .tab {
        flex: 1;

        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;

        /* text-indent: -1000px; */
        overflow: hidden;

        &.active:first-child {
          background-color: #c9ff5d;
          color: #000;
          /* background: url("/img/trade/buy.png") no-repeat 0 -10px; */
          /* background-size: 100% auto; */
        }

        &.active:last-child {
          background-color: #ff559d;
          color: #fff;
          /* background: url("/img/trade/sell.png") no-repeat 0 -10px; */
          /* background-size: 100% auto; */
        }
      }

      .tab:first-child {
        color: #c9ff5d;
        border-radius: 10px;
        /* background: url("/img/trade/buy-grey.png") no-repeat 0 -10px;
        background-size: 100% auto; */
      }

      .tab:last-child {
        border-radius: 10px;
        color: #ff559d;
        /* background: url("/img/trade/sell-grey.png") no-repeat 0 -10px;
        background-size: 100% auto; */
      }
    }

    .tradeTabs::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -10px;
      width: calc(100vw + 20px);
      height: 1px;
      background-color: #353339;
    }
  }

  .pcActionArea {
    padding: 0;
  }

  .tokenBalanceBox {
    margin-top: 46px;
  }

  .pcActionArea {
    .tokenBalanceBox {
      margin-top: -30px;

      .inputArea {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        .input {
          text-align: right;
          font-size: 26px;
          font-weight: 500;
          color: #fff;
          width: 40%;
        }

        .tokenName {
          margin-top: 0;
          font-size: 12px;
          color: #9290b1;
        }

        .tokenPrice {
          flex: 1 1 100%;
          text-align: right;
        }
      }
    }

    .PanelInput {
      height: auto;
    }
    .tokenPercent {
      float: left;
      margin-left: -10px;
    }

    .PanelPercent {
      margin-top: -10px;
    }

    .receiveAmountWrapper {
      clear: both;
      margin-top: 35px;
    }
  }

  .balance {
    color: #9290b1;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    background-color: #3c3c3c80;
    padding: 0 10px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inputActionArea .actionArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 300;
}

.PanelContent {
  margin-top: 10px;
  background-color: #ffffff0d;

  .inputActionArea .actionArea {
    justify-content: flex-start;
    gap: 10px;
  }
}

.inputActionArea .actionArea .switchTokenName {
  color: #fff;
}

.inputActionArea .inputArea {
  color: #fff;
  gap: 10px;
  padding: 0 10px;
  width: 100%;
}

.inputActionArea .inputArea .input {
  background-color: inherit;
  border: none;
  outline: none;
  color: #fff;
  width: 0;
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.inputActionArea .inputArea .inputToken {
  font-size: 16px;
  flex-shrink: 0;
}

.inputActionArea .inputArea .inputToken .tokenName {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.inputActionArea .inputArea .inputToken .tokenImg {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: none;
}

.inputActionArea .inputArea .inputToken .tokenImg .tiImg {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inputActionArea .tokenPercent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}

.inputActionArea .tokenPercent .percentTag {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  border-radius: 6px;
  padding: 5px 10px;
  opacity: 0.5;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
}

.inputActionArea .tokenPercent .percentTag.tagActive {
  background-color: #3c3c3c80;
  opacity: 1;
}

.inputActionArea .tokenPercent .PanelPercentTag {
  cursor: pointer;
  height: 20px;
  padding: 4px 6px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: Unbounded;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 30px;
  border: 1px solid rgba(146, 144, 177, 0.4);
  backdrop-filter: blur(5px);
}

.inputActionArea .tokenPercent .PanelPercentTag.tagActive {
  background-color: #9290b166;
}

.switchToken {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  background-color: #3c3c3c80;
  border-radius: 26px;
}

.switchTokenImg {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  overflow: hidden;
  opacity: 0.3;
}

.switchTokenImg.active {
  border: 2px solid #fff;
  opacity: 1;
}

.switchTokenImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.receiveTokenImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  overflow: hidden;
}

.receiveTokenImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin-top: 10px;
  height: 27px;
  flex: 1;
}

.receiveTokenAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.panel {
  border-radius: 10px;
  padding: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #121719;
}

.PanelContent {
  padding: 10px 14px;
  /* display: flex;
  gap: 20px; */
}

.Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PanelInput {
  /* border-radius: 8px;
  border: 1px solid rgba(146, 144, 177, 0.6) !important;
  background: rgba(146, 144, 177, 0.1); */
  /* width: 335px; */
  height: 68px;
  flex-shrink: 0;
}

.receiveTitle {
  white-space: nowrap;
  color: #9290b1;
}

.slippage {
  position: relative;
  z-index: 20;
  display: flex;
  gap: 5px;
  background-color: #3c3c3c80;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  font-size: 12px;
  color: #9290b1;
}

.receiveAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: #9290b1;
  padding-right: 10px;
}

.receiveAmountWrapper {
  /* white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; */
  margin-top: 10px;
}

.receiveAmountWrapperMobile {
  margin-top: 20px;
}

.tokenPrice {
  font-size: 10px;
  color: #9290b1;
  text-align: center;
  margin-top: 10px;
  flex: 1;
}

.pcTabs {
  position: relative;
  background-color: #1b1b1b;
}

.pcSlipIcon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.topLimit {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fbca04;
}
