.Button {
  padding: 4px 7px 5px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(28, 36, 39, 0.3);
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.9);
  font-family: Unbounded;
  font-size: 12px;
  font-weight: 300;
}

.ButtonActive {
  border: 1px solid #fff;
  background: #1c2427;
  color: #fff;
}
