.isFollow {
  border-radius: 30px;
  background: #FBCA04;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 34px;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.isFollowLoading {
  composes: isFollow;
  opacity: 0.3;
}

.isFollowing {
  width: 98px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.13);
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isFollowingLoading {
  composes: isFollowing;
  opacity: 0.3;
}


.FollowBtnOnSum {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  height: 34px;
  border-radius: 30px;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 2px solid #FBCA04;
}

.isFollowBtnOnSumLoading {
  composes: FollowBtnOnSum;
  opacity: 0.3;
}