.Img {
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
}
.Container {
  position: relative;
}
.ImgFallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.ImgFailed {
  visibility: hidden;
  opacity: 0;
}
