.container {
    min-width: 1008px;
    border-radius: 12px;
    margin: 0 auto;
  }
  
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 80px;
    padding: 12px 16px;
    color: #9290B1;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .headerItem {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
  }
  
  .traderList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 350px);
    overflow-y: auto;
  }
  
  .traderItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 80px;
    padding: 16px;
    align-items: center;
    background: #242424;
    border-radius: 8px;
    cursor: pointer;
  }
  .traderItem:hover {
    background: rgba(255, 255, 255, 0.1);
  }


  .traderInfo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 60px;
   position: relative;
  }
  
.nameWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

  .name {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
  }
  
  .followers {
    color: #9290B1;
    font-size: 12px;
    font-weight: 400;
  }
  
  .roi,
  .pnl {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
  }
  .winRate {
    color: #9290B1;
    font-size: 12px;
    font-weight: 400;
  }
  
  .profit {
    color: #9290B1;
    font-size: 12px;
    font-weight: 400;
  }
  
  .copyButton {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FBCA04;
    border-radius: 30px;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 12px;
    font-family: Unbounded;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
  }

  .copyButton:hover {
    background: #FBCA04;
    color: #000000;
    border: 2px solid transparent;
  }

  .copingContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
  .coping {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1f1f1f;
    padding: 2px 4px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }

  .copingIcon {
    width: 3px;
    height: 3px;
    background: #D6A409;
    border-radius: 50%;
  }
  .copingText {
    color: #D6A409;
    font-size: 12px;
    font-weight: 400;
    scale: 0.8;
  }

  .filterItem {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  
.SolnaIcon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.filterItemContent {
  color: #FBCA04;
}



.crownContainer {
  display: flex;
  align-items:flex-start;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #C9FF5D;
  margin-top: 40px;
}
.crownTextContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
.crownText {
  font-weight: 700;
}