/*#region Carousel*/
@keyframes slideToRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(25%, 0, 0);
  }
}
.CarouselContainer {
  height: 130px;
  overflow: hidden;
  position: absolute;
  z-index: 12;
  left: 0;
  top: -56px;
}
.Carousel {
  color: #000;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  transform: rotate(-7deg);
  transform-origin: right;
}
.CarouselInner {
  width: 300%;
  background: #fbca04;
  display: flex;
  align-items: stretch;
  /*animation: slideToRight linear 4s infinite;*/
  margin-left: -100%;
  will-change: transform;
}
.CarouselItem {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.TopCrown {
  position: absolute;
  width: 60px;
  flex-shrink: 0;
  z-index: 1;
  top: 26px;
  right: 55px;
}
/*#endregion*/
