.container {
   padding-top: 30px;
}

.containerPC {
    padding-top: 70px !important;
}

.loading {
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1025px) {
    .topTraderContainer {
        display: flex;
        gap: 12px;
        padding-top: 12px;
        margin-bottom: 16px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none; 
    }
}
@media (min-width: 1026px) {
   
.topTraderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
    }
}

.copyTradeContainer {
    display: flex;
    gap: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
    width: 100%;
}