.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 200px;
  max-height: calc(100dvh - 380px);
  overflow-y: auto;
  overflow-x: hidden;
}
.Card {
  width: 100%;
  padding: 9px 6px 10px 14px;
  border-radius: 14px;
  border: 1px dashed rgba(161, 161, 161, 0.6);
  background: rgba(251, 202, 4, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.CardTitle {
  color: #000;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.CardTitlePrimary {
  color: #000;
  font-weight: 700;
}
.CardContent {
  color: #000;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 2px;
}
.CardContentPrimary {
  color: #000;
  font-weight: 600;
}
.AirdropInfoContent {
  width: 100%;
  padding: 16px 20px 24px;
}
.AirdropInfoUser {
  flex: 1;
}
.AirdropInfoUserIcon {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
}

.AirdropEntryMobile {
  position: fixed;
  z-index: 6;
  left: 4px;
  top: 80px;
  width: 65px;
  height: 68px;
  background: url("/img/airdrop/icon-entry.svg") no-repeat center / contain;
}
.AirdropEntryMobileInner {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-origin: center 50px;
  background: url("/img/airdrop/icon-entry.svg") no-repeat center / contain;
}
