.launchTag {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  white-space: nowrap;
  border-radius: 32px;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.launch1 {
  background-color: #504964;
}
.launch2 {
  background-color: #628d0b;
}
.launch3 {
  background-color: #977900;
}
