.Container {
  overflow: hidden;
  padding-top: 46px;
}

.Content {
  overflow-y: auto;
}

.ReadAll {
  width: 82px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 38px;
  border: 1px solid rgba(171, 174, 189, 0.3);
  color: #abaebd;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.LoadingWrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Num {
  padding: 2px 6px;
  border-radius: 34px;
  background: #ff2681;
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Title {
  display: flex;
  align-items: center;
  gap: 6px;
}
