.title {
  position: relative;

  .titleIcon {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer;
  }

  .backIcon {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer;
  }

  .titleText {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
}

.uploadImgWrapper {
  position: relative;
  align-self: stretch;
  padding-top: 20px;
}

.uploadAction {
  position: absolute;
  left: 0;
  bottom: 0;
}

.group {
  padding: 15px 0;
}

.groupContent {
  padding: 5px 0;
}

.inputText {
  width: 100%;
  border: none;
  background: rgba(18, 23, 25, 1);
  height: 42px;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
}

.laptopInputText {
  width: 100%;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid rgba(146, 144, 177, 0.4);
  background: rgba(146, 144, 177, 0.1);
  height: 48px;
  margin-top: 7px;
  color: #fff;
}

.inputError {
  border: 1px solid var(--error-color);
}

.inputText:focus {
  outline: none;
}

.imgUpload {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 1px dashed rgba(146, 144, 177, 1);
  background-color: rgba(33, 37, 46, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .plus {
    position: absolute;
    right: -15px;
    bottom: -15px;
  }
}

.uploadContent {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 10px 0;
  padding-left: 15px;
}

.uploadTip {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-top: 5px;
}

.Website {
  padding: 10px 0px 5px;
  background-color: rgba(18, 23, 25, 1);
}

.LinkPc {
  padding-top: 12px;
}

.uploadError {
  border: 1px solid var(--error-color);
}

.tokenSymbol {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  .tokenSymbolTitle {
    color: rgba(255, 255, 255, 0.6);
  }
}

.groupTitle {
  font-size: 16px;
  color: #fff;
  padding: 0 18px 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.requireSize {
  font-size: 10px;
}

.uploadTitle {
  font-size: 14px;
  color: #fff;
}

.TitlePc {
  font-size: 14px;
  color: #fff;
}

.require {
  color: var(--error-color);
}


.avatar :global(.adm-image-img) {
  border-radius: 10000px;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
}

.linkActionGroup {
  display: flex;  
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.linkActionItem {
  width: 30px;
  cursor: pointer;
}
.linkTitle {
  display: flex;
  align-items: flex-end;
  gap: 5px;  
}

.linkOptional {
  font-size: 12px;
  font-weight: 700;
  color: #9290B1;
}

.Container {
  .groupTitle {
    padding-left: 18px;
  }
}

.ContainerPc {
  
  .linkActionGroup {
    margin-top: 20px;
  }
}

.removeIcon {
  display: none;
}

.ContainerPc {
  .removeIcon {
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-right: 10px;
  }

  .uploadImgWrapper {
    position: relative;
    padding-top: 0;
    .uploadIconPlus {
      position: absolute;
      right: 0;
      bottom: 0;  
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;  
      background-color: rgba(33, 37, 46, .6);
      border-radius: 10px;
    }
  }
}
