.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.Title {
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.YourRank {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.YourRankTag {
  padding: 4px 5px;
  border-radius: 11px;
  border: 1px solid #000;
  background: linear-gradient(180deg, #9290b1 0%, #3e3d4b 100%);
}
