.main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  .img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: -8px;
    border: 2px solid rgba(0, 0, 0, 1);
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out;
  }
  .img:hover {
    transform: scale(1.2);
  }
  .more {
    width: 28px;
    height: 28px;
    border-radius: 26px;
    background-color: rgba(127, 112, 138, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 500;
    margin-left: -5px;
  }
}
