.Container {
  position: absolute;
  left: -1px;
  top: 46px;
  width: calc(100% + 2px);
  height: 346px;
  overflow-y: auto;
  background-color: #1b1b1b;
  border: 1px solid #323232;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
}

.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px;
}

.ItemLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.LoadingWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
