.Wrapper {
  position: relative;
  height: 100vh;
}

.Container {
  padding-top: 90px;
  padding-bottom: 30px;
  height: 100vh;
  overflow-y: auto;
}

.Box {
  width: 1150px;
  margin: 0 auto;
}

/*#region List*/
.List {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 18px;
}
/*#endregion*/

.TitleWrapper {
  position: absolute;
  left: 30px;
  top: 20px;
  color: #fff;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 6px;
}

.ListTitle {
  color: #fff;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
}
