.Container {
  width: calc(100% - 60px);
  border-radius: 12px;
  background: linear-gradient(to bottom, #ff2681, #ff91bf);
  margin: 10px auto;
  padding: 2px;
}

.Wrapper {
  height: 122px;
  flex-shrink: 0;
  background: url(/img/mining/like-bg-p.png) center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  gap: 5px;
}

.Num {
  text-align: center;
  font-family: Unbounded;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(0deg, #ff076f 9.62%, #ffa2c9 87.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Desc {
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
