.main {
    width: 100vw;
    min-height: 280px;
    background-color: #252328;
    border-radius: 16px;
    border: 1px solid #3B3B3B;
    padding:26px 16px;
}
.titleText {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}
.personInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.userName {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
.tipsText {
    font-size: 14px;
    color: #9290B1;
    font-weight: 300;
    font-family: 'Unbounded';
    margin: 20px 0;
    letter-spacing: 0.01em;
    line-height: 1.5;
}

.CoppiedTokens {
    width: 100%;
    background-color:rgba(60, 60, 60, 0.5);
    border-radius: 10px;
    padding:20px;
    max-height: 210px;
    overflow-y: auto;
}

.TitlePubStyle {
    font-size: 12px;
    color: #9290B1;
    font-weight: 300;
}


.TokenIconBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* justify-content: flex-end;     */
}

.TokenIconBox img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -8px;
}

.ButtonBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 23px;
}

.Button {
    flex: 1;
    height: 40px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Unbounded';
    display: flex;
    align-items: center;
    justify-content: center;
}
.SellButton {
    border: 1px solid #FBCA04;
    color: #fff;
    background-color: transparent;
}
.CloseButton {
    background-color: #FBCA04;
    color: #000;
    border: 1px solid transparent;
}

.TokenIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.TokenInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.TokenName {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.TokenBalance {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
