.Container {
  height: 80vh;
  background-color: #000;
  border-radius: 20px;
}

.Title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  padding: 30px 30px 0px 30px;
}

.InputContainer {
  height: 48px;
  border-radius: 38px;
  margin: 20px 30px 0px;
  background-color: rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.Input {
  font-size: 14px;
  color: #fff;
}

.ListContainer {
  margin-top: 8px;
  height: calc(80vh - 134px);
  overflow-y: auto;
  background-color: #18131c;
  border-radius: 0px 0px 20px 20px;
  padding: 14px 30px;
}
