.Container {
  display: flex;
  justify-content: center;
  gap: 29px;
  padding-top: 84px;
}

.Left {
  width: 642px;
  flex-shrink: 0;
}

.Right {
  width: 438px;
  border-radius: 20px;
  border: 1px solid #323232;
  background: #1b1b1b;
  flex-shrink: 0;
  overflow: hidden;
}

.TotalPanel {
  width: 100%;
  padding: 0px 0px 30px;
}

.PanelWrapper {
  width: 100%;
  padding: 20px 20px;
  margin-top: 20px;
}

.PanelTitle {
  color: #fff;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Panels {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 16px;
}
