.main {
  width: 350px;
  max-width: 90vw;
  padding: 20px 15px 30px;
  background: #a890ff;
  border: 1px solid #000;
  border-radius: 20px;
  .tipBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 20px;
    .tipText {
      margin-top: 20px;
      padding: 0 12px;
      color: #fff;
      text-align: center;
      font-weight: 300;
    }
  }

  .cancelBtn {
    color: #fff;
    text-align: center;
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: 20px;
  }
}
