.Container {
  width: 35px;
  height: 70px;
  font-family: Unbounded;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 11;
}
.ContainerMobile {
  composes: Container;
  left: 0;
  bottom: 72px;
}
.Entry {
  position: relative;
  z-index: 12;
  transform: translateX(50px);
}
.EntryExpand {
  composes: Entry;
  transform: translateX(140px);
}
.EntryMobile {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 12;
}
.Card {
  width: 356px;
  height: 88px;
  background: #FCFFEA;
  border: 1px solid #000;
  position: absolute;
  z-index: 11;
  left: 66px;
  bottom: 12px;
  border-radius: 20px;
}
.CardExpand {
  composes: Card;
  left: 156px;
}
.CardMobile {
  composes: Card;
  width: calc(100dvw - 20px);
  left: 16px;
  bottom: 0;
}
.CardInner {
  padding: 13px 10px 12px 30px;
  width: 100%;
  height: 100%;
}
.CardInnerMobile {
  composes: CardInner;
  padding: 0;
}
.ReferBtn {
  width: 110px;
  height: 36px;
  border-radius: 18px;
  background: var(--part-bg);
  border: 1px solid #000;
  position: relative;
  color: #000;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Rebates {
  display: flex;
  align-items: flex-end;
  flex: 1;
  gap: 4px;
  color: #fe1a62;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 4px;
}
.RebatesValue {
  width: 110px;
  height: 34px;
}
.RebatesUnit {
  transform: translateY(-5px);
}
.Title {
  color: #000;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
}
.Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.CloseBtn {
  width: 14px;
  height: 14px;
  background: url("/img/home/refer-close-btn.svg") no-repeat center / contain;
  position: absolute;
  right: 14px;
  top: 14px;
}
.ReferEntrySvg {
}
.ReferEntryIcon {
  transform-origin: 0 50px !important;
}
