.Container {
  width: 35px;
  height: 70px;
  font-family: Unbounded;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 11;
}
.ContainerMobile {
  composes: Container;
  left: 0;
  bottom: 72px;
}
.Entry {
  position: relative;
  z-index: 12;
  transform: translateX(50px);
}
.EntryExpand {
  composes: Entry;
  transform: translateX(140px);
}
.EntryMobile {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 12;
}
.Card {
  width: 350px;
  height: 88px;
  background: #fcffea;
  border: 1px solid #000;
  position: absolute;
  z-index: 11;
  left: 66px;
  bottom: 12px;
  border-radius: 20px;
}
.CardExpand {
  composes: Card;
  left: 156px;
}
.CardMobile {
  composes: Card;
  width: calc(100dvw - 20px);
  left: 16px;
  bottom: 0;
}
.CardInner {
  padding: 16px 10px 12px 28px;
  width: 100%;
  height: 100%;
}
.CardInnerShadow {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 81%);
  width: 100%;
  height: 26px;
  position: absolute;
  left: 0;
  bottom: -13px;
}
.CardInnerMobile {
  composes: CardInner;
  padding: 0;
}
.ReferBtn {
  align-self: flex-end;
  width: 84px;
  height: 36px;
  border-radius: 18px;
  background: var(--part-bg);
  border: 1px solid #000;
  position: relative;
  color: #000;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Rebates {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.RebatesValue {
  width: 110px;
  height: 34px;
}
.RebatesUnit {
  transform: translateY(-5px);
}
.Title {
  color: #000;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}
.KickbackValue {
  width: 140px;
  height: 32px;
  flex-shrink: 0;
  object-position: center;
  object-fit: contain;
}
.Content {
  display: flex;
  align-items: center;
  margin-top: 4px;
  justify-content: space-between;
}
.ContentButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.CloseBtn {
  width: 14px;
  height: 14px;
  background: url("/img/home/refer-close-btn.svg") no-repeat center / contain;
  position: absolute;
  right: 14px;
  top: 14px;
}
.ReferEntrySvg {
}
.ReferEntryIcon {
  transform-origin: 0 50px !important;
}
.RulesButton {
  color: #000;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
