.main {
  position: relative;
  padding-top: 10px;
}

.smokeLogo {
  position: absolute;
  left: 50%;
  top: -90px;
  transform: translate(-50%, 0);
}

.smokeImg {
  width: 233px;
  display: block;
  margin: 10px auto;
}
