.Container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 31px;
  height: 34px;
  background-color: #fbca04;
  padding-right: 8px;
  cursor: pointer;
}

.Avatar {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 21px;
}
.Crown {
  width: 60px;
  height: 38px;
  position: absolute;
  left: -26px;
  top: -20px;
}

.Title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 4px;
}
.Name {
}

.TitleRight {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}

.CloseBtnMobile {
  width: 14px;
  height: 14px;
  background: url("/img/trends/icon-close.svg") no-repeat center / contain;
}
.Rank {
  color: #90f;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Summaries {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.Summary {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #000;
  font-family: Unbounded;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
}

.SummaryValue {
}
.Trade {
  width: 65px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 13px;
  border: 1px solid #000;
  background: #fff9c0;
  color: #000;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0 2px;
}
.TradeIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.ViewButton {
  width: 65px;
  height: 26px;
  color: #000;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  flex-shrink: 0;
  border-radius: 13px;
  border: 1px solid #000;
}
