.Container {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.List {
  transition: 0.5s;
  touch-action: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Wrapper {
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 20px;
}

.EmptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 20px;
}

.Button {
  width: 223px;
  height: 50px;
  border-radius: 30px;
  background: #fbca04;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ArrowButtons {
  position: fixed;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RefreshIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.RefreshIconWrapper {
  position: fixed;
  right: 26px;
  bottom: 0px;
}
